body {
  margin: 0px;
  width: 100%;
}
.wrap {
  margin: 0px auto;
  width: 486px;
}

.box {
  width: 160px;
  height: 120px;
  float: left;
  background: #347fc3;
  border: 1px solid #fff;
  overflow: hidden;
}

.text {
  text-align: center;
  margin-top: 56px;
  color: #fff;
  font-size: 1.0em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
  40% {transform: translateX(-30px);}
  60% {transform: translateX(-15px);}
}
.bounce{
  animation-name: bounce;
}